*.DS_Store
*.swp
config/.mono
config/Code/*
!config/Code/User
config/KeePass
config/MusicBrainz
config/Slack
config/Trolltech.conf
config/chromium
config/cmus/*
!config/cmus/cmus_desktop_notify.py
!config/cmus/status_display_program.sh
config/configstore
config/dconf/user
config/easytag
config/fontforge
config/gconf
config/geogebra
config/googlecl
config/gpick
config/gtk-*
config/heroku
config/htop
config/hub
config/libreoffice
config/live-latex-preview
config/macro.txt
config/menus
config/mimeapps.list
config/mutt/gmail
config/mutt/gmailrc
config/mutt/tepia-gmailrc
config/nemo
config/nvim/.netrwhist
config/nvim/plugged/
config/nvim/vimwiki
config/pulse
config/qalculate
config/ranger/bookmarks
config/ranger/history
config/ranger/history
config/ranger/history
config/rtv/*
config/smplayer
config/spotify
config/transmission-daemon/dht.dat
config/vlc/vlc-qt-interface.conf
config/vlc/vlcrc
config/yarn
config/youtube-viewer/
