*.swp
*.DS_Store
config/chromium
config/configstore
config/dconf/user
config/gconf
config/gtk-*
config/heroku
config/htop
config/hub
config/live-latex-preview
config/menus
config/mimeapps.list
config/nemo
config/nvim/.netrwhist
config/nvim/plugged/
config/pulse
config/qalculate
config/ranger/bookmarks
config/Slack
config/spotify
config/Trolltech.conf
config/yarn
